{% extends 'base.html.twig' %}
{% block title %}<title>Ajout Burger | {{ parent() }} </title>{% endblock %}
{% block body %}
    {% block content %}
    <h1>Créer un nouveau Burger</h1>

        {{ form_start(form) }}

            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.price, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.pain, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.oignon, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.image, {'attr': {'class': 'form-control'}}) }}

            <div data-controller="sauce">
                {{ form_row(form.sauces, {'attr': {'class': 'form-control', 'data-action': 'change->sauce#selectSauce'}}) }}
            </div>

            <button type="submit" class="form-control w-auto">Créer</button>

		{{ form_end(form) }}
    {% endblock %}
{% endblock %}