{% extends 'base.html.twig' %}
{% block title %} <title>Liste des Burgers {{parent()}} </title> {% endblock %}
{% block body %}
    {% block content %}
        <h1>Liste des burgers</h1>
            {% for burger in burgers %}
            <div>
                <a>
                <p><img></p>
                {{ burger.nom }}
                {{ burger.price }}€
                {{ burger.id }}brgId
                {{ burger.imgId }}imgid
                </a>
            </div>
            {% endfor %}
    {% endblock %}
{% endblock %}